@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --primary-background-color: #feafc3;
  --secondary-background-color: #FF7799;
  --paper-background-color: #ffffff;
  --button-dark-background-color: #FF2F64;
  --button-light-background-color: #FCFCFC;
  --button-transparent-background-color: #FCFCFC4D
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--primary-background-color);
  color: #2D3440;
  margin: 0;
  height: 100%;
  display: flex;
}

.reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-index,
.main-inner {
  flex-grow: 1;
}

.advantages {
  background-image: url("../images/background-ceo.jpg");
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
  margin-top: 80px;
}

.advantages-container {
  background-color: var(--paper-background-color);
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages-item {
  flex-basis: 50%;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.banners {
  margin-top: 80px;
}

.banners-item {
  background-color: var(--secondary-background-color);
  padding: 36px 206px 36px 36px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 219px 268px;
}

.banners-item-description {
  margin: 28px 0;
}

.banners-item:nth-child(1) {
  background-image: url('../images/free-raspberry.png');
}

.banners-item:nth-child(2) {
  background-image: url('../images/free-marshmellow.png');
}

.banners-item-title {
  margin: 0;
}

.banners-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin: 55px 0 0 0;
}

.breadcrumbs {
  line-height: 20px;
  margin-top: 32px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  border: none;
  border-radius: 26px;
  padding: 12px 32px;
  display: inline-flex;
}

.button-dark {
  background-color: var(--button-dark-background-color);
  border: 4px solid #FF2F644D;
  color: #FCFCFC;
  background-clip: padding-box;
}

.button-light {
  background-color: var(--button-light-background-color);
  border: 4px solid #FCFCFC4D;
  color: #2D3440;
  background-clip: padding-box;
}

.catalog-page-title {
  margin-top: 16px;
}

.catalog-filters {
  line-height: 20px;
  margin-top: 40px;
}

.filters-group {
  display: flex;
}

.contacts {
  background-image: url("../images/background-contacts.jpg");
  border-radius: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 80px;
  padding: 64px 763px 64px 64px;
}

.contacts-container {
  background-color: var(--paper-background-color);
}

.contacts-address,
.contacts-phone {
  line-height: 24px;
}

.contacts-hours {
  line-height: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.delivery {
  background-image: url("../images/background-delivery.jpg");
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
  padding: 64px 64px 64px 100px;
  display: flex;
}

.delivery-form-container {
  background-color: var(--paper-background-color);
}

.delivery-form .form-label {
  line-height: 20px;
}

.filter-button {
  background-color: var(--button-transparent-background-color);
  border: 2px solid #FCFCFC;
  color: #2D3440;
  background-clip: padding-box;
  font-size: 14px;
  font-weight: 700;
}

.heading-h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
}

.heading-h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
}

.heading-h3 {
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
}

.navigation {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-button {
  background-color: var(--button-transparent-background-color);
  color: #2D3440;
  white-space: nowrap;
  display: inline-flex;
}

.navigation-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  padding: 6px 16px;
}

.navigation-link {
  font-weight: 400;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  white-space: nowrap;
}

.navigation-link.navigation-active {
  background-color: var(--button-dark-background-color);
  color: #FCFCFC;
  border-radius: 26px;
  padding: 12px 32px;
}

.navigation-list {
  display: flex;
  padding: 8px 16px;
  align-items: center;
}

.navigation-user .navigation-item {
  padding: 6px 8px;
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 80px;
}

.news-post {
  background-image: url("../images/background-news.jpg");
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px 235px 67px 32px;
}

.news-post-title {
  line-height: 20px;
}

.news-subscribe {
  background-image: url("../images/background-subscribe.jpg");
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6px;
  display: flex;
}

.news-subscribe-container {
  background-color: var(--paper-background-color);
  border-radius: 16px;
  padding: 26px;
}

.news-subscribe-description {
  margin: 0;
}

.no-underline {
  text-decoration: none;
  color: #2D3440;
}

.offers {
  margin-top: 80px;
}

.offers-card-button {
  background-color: var(--button-dark-background-color);
}

.offers-card-item {
  background-color: var(--paper-background-color);
  flex-basis: 25%;
  border-radius: 8px;
}

.offers-card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin: 55px 0 0;
}

.offers-card-title,
.offers-card-price {
  font-size: 20px;
  line-height: 24px;
}

.offers-pagination {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 40px 0;
}

.catalog-offers {
  margin-top: 44px;
}

.opacity {
  opacity: 0.4;
}

.page-header {
  color: #000000;
  line-height: 20px;
  padding: 24px 0;
  display: flex;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}

.catalog-page-footer {
  margin-top: 40px;
}

.pagination-button {
  background-color: transparent;
  padding: 2px 8px;
}

.pagination-button-current {
  background-color: var(--button-light-background-color);
  border-radius: 50%;
}

.products {
  margin-top: 136px;
}

.products-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
}

.slider-button {
  background-color: var(--button-transparent-background-color);
  border: 2px solid #FCFCFC;
  background-clip: padding-box;
}

.text-bigger {
  font-size: 20px;
}

.text-smaller {
  font-size: 14px;
}

.text-color-secondary {
  color: #565C66;
}

.visually-hidden {
  display: none;
}

